<div class="container mt-5">
    <div class="row">
      <div class="col-sm-12 col-lg-6 offset-lg-3">
        <h1 className="font-weight-normal mb-5"> New Pinjam.</h1>
        <%= render 'form', pinjam: @pinjam %>
    </div>
  </div>
</div>