<style>
#main-navbar .nav-link {
  border-bottom: 5px solid #343a40;
  color: #e2e1e1;
}
#main-navbar .nav-link:hover, #main-navbar a.active {
  border-bottom: 5px solid #117a8b;
  color: white;
}
.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}
.form-control:focus {
  box-shadow: none;
}
#input-box {
  margin-top: 20px;
}
.fakeimg {
    height: 200px;
    background: #aaa;
}
</style>


<nav id="main-navbar" class="navbar navbar-expand-md navbar-dark bg-dark py-0">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <span class="d-none" >PERPUS</span>
      <img src="#" class="main-logo d-none d-md-inline" alt="Perpus Logo">
      <img src="#" class="small-logo d-inline d-md-none alt="perpus logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto"></ul>
        <li class="nav-item">
        <%= link_to "List Buku", books_path(@books), :class => "nav-link p-4 active" %>
        </li>
        <li class="nav-item">
          <a class="nav-link p-4 active" href="index.html">Pinjam Buku</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-4 active" href="index.html">Logout</a>
        </li>
      </div>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div id="input-box" class="p-1 bg-light rounded rounded-pill shadow-sm mb-4 bg-dark">
      <div class="input-group rounded rounded-pill">
        <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-dark rounded rounded-pill text-white">
      <div class="input-group-append">
        <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
</div>
</div>


<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>Tentang Perpustakaan</h2>
      <h5>Photo dari Perpustakaan:</h5>
      <div class="fakeimg">Fake Image</div>
    </div>
    <div class="col-sm-8">
      <h2>Library Example</h2>
      <h5>Create on: Mar 13, 2020</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Perpustakaan ini dibangun berdasarkan keputusan perda no xx tahun xxxx kare kebutuhan masyarakat sekitar yang membutuhakan perpustakaan daerah (umum).</p>
      <br>
      <h2>Lokasi Perpustakaan</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43832.437212172954!2d37.912240532645185!3d-46.636099522033795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb5b72b40605c054f%3A0x1169f6f714558275!2sPulau%20Pangeran%20Edward!5e0!3m2!1sid!2sid!4v1584092480190!5m2!1sid!2sid" width="100%" height="200" frameborder="0" style="border:0;"
       allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
  </div>
</div>

<footer id="main-footer" class="text-white bg-dark py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center text-md-left">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?</p>
      </div>
      <div class="col-md-3 text-center">
        <h5>Footer 1</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">a</a></li>
          <li><a href="#" class="text-white">b</a></li>
          <li><a href="#" class="text-white">c</a></li>
          <li><a href="#" class="text-white">d</a></li>
        </ul>
      </div>
      <div class="col-md-3 text-center">
        <h5>Footer 2</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">a</a></li>
          <li><a href="#" class="text-white">b</a></li>
          <li><a href="#" class="text-white">c</a></li>
          <li><a href="#" class="text-white">d</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
